@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
	font-family: 'Inter', sans-serif;
}

body {
	max-height: 100vh;
}

.input {
	@apply rounded p-2 border border-gray-400;
}
.input-error {
	@apply rounded p-2 border border-red-600;
}
.input-empty {
	@apply rounded p-2 border border-red-600;
}

.background-login {
	background-image: linear-gradient(245deg, rgb(125, 211, 252), rgb(37, 99, 235));
}

.background-signup {
	background-image: linear-gradient(255deg, rgb(74, 222, 128), rgb(34, 197, 94));
}

.button {
	@apply p-2 bg-blue-500 rounded mt-4 w-full text-white font-bold hover:shadow-blue-400 hover:shadow-lg duration-200;
}

.button-success {
	@apply bg-green-600;
}

.button-danger {
	@apply bg-red-600 hover:shadow-red-400;
}

.current {
	@apply bg-gray-700;
}
